apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "minio_server": "localhost:9000",
      "minio_user": "minioadmin",
      "minio_password": "minioadmin",
      "minio_region": "us-east-1",
      "minio_ssl": "false",
      "minio_insecure": "false"
    }
