apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "minio_server": "http://localhost:9000",
      "minio_user": "minioadmin",
      "minio_password": "minioadmin",
      "minio_region": "us-east-1"
    }
